@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* root */
:root {
    --text-color: #333;
    --secondary-text-color: #555;
    --background-color: rgb(228, 229, 237);
    --accent-color: #768191;
    --accent-hover-color: #9aa6b8;
    --border-color: #e0e0e0;
    --border-radius: 8px;
    --box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    --button-color: #768191;
    --button-hover-color: #9aa6b8;
    --button-border-radius: 4px;
    --section-background-color: rgb(214, 215, 224);
    --header-section-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
    --box-border: 0 0 33px 0 rgba(122, 146, 184, 0.44);
    --margin-bottom: 30px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* section */
section {
    width: 100%;
    max-width: 800px;
    background-color: var(--section-background-color);
    border-radius: var(--border-radius);
    padding: 20px;
    margin-bottom: var(--margin-bottom);
    box-shadow: var(--box-shadow);
}

section h3 {
    font-size: 1.8em;
    color: var(--text-color);
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 5px;
    margin-bottom: 20px;
}

section h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.3em;
    color: var(--text-color);
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 5px;
}

section h5 {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-size: 0.9em;
    color: var(--text-color);
}


p {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.6;
    color: var(--secondary-text-color);
}

/* section-item */
.section-item {
    margin-top: 20px;
    font-size: 1em;
    color: var(--text-color);
    border-bottom: 2px solid var(--border-color);
    width: 100%;
    max-width: 800px;
    background-color: var(--section-background-color);
    border-radius: var(--border-radius);
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: var(--box-shadow);
}

.section-item p {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.6;
    color: var(--secondary-text-color);
}

/* header-section */
.header-section {
    text-align: center;
    padding: 60px;
    background-color: var(--section-background-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin-bottom: var(--margin-bottom);
}

.header-section h1 {
    font-size: 2em;
    font-weight: 600;
    color: var(--text-color);
}

/* profile-image */
.profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-top: 25px;
    box-shadow: 0 10px 33px #4a250e;
}

/* button */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    border-radius: var(--border-radius);
    font-weight: 500;
    transition: background-color 0.3s ease;
    text-align: center;
    box-shadow: var(--box-border);
}

.button:hover {
    background-color: var(--accent-hover-color);
}

/* download-section */
.download-section {
    text-align: center;
    margin-bottom: var(--margin-bottom);
}

/* contact-info */
.contact-info h3 {
    text-align: center;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-button {
    text-align: center;
    margin-bottom: var(--margin-bottom);
}

/* experience-table */
.experience-table {
    /*margin-top: 20px;*/
    /*font-size: 1em;*/
    /*color: var(--text-color);*/
    /*border-bottom: 2px solid var(--border-color);*/
    /*width: 100%;*/
    /*max-width: 800px;*/
    /*background-color: var(--section-background-color);*/
    /*border-radius: var(--border-radius);*/
    padding: 20px;
    /*margin-bottom: 10px;*/
    /*box-shadow: var(--box-shadow);*/
}

.experience-table th, td {
    padding: 10px;
    box-shadow: var(--box-border);
    background-color: var(--section-background-color);
    border: 2px solid #ddd;
}

.experience-table tr:last-child th:first-child {
    border-radius: 10px 0 0 0;
}

.experience-table tr:last-child th:last-child {
    border-radius: 0 10px 0 0;
}

.experience-table tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.experience-table tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

/* Списки навыков и языков */
.skills-list, .languages-list {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.8;
    margin-bottom: var(--margin-bottom);
}

/* connect-form */
.connect-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: var(--margin-bottom);
}

/* input */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
    background-color: rgb(219, 220, 228);
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    background-color: rgb(255, 255, 255);
    border-color: #007bff;
    outline: none;
}

.connect-form label {
    font-weight: 500;
    color: var(--text-color);
}

.connect-form input, .connect-form textarea {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: 1em;
}

.connect-form input:focus, .connect-form textarea:focus {
    outline: none;
    border-color: var(--accent-color);
}

.connect-form button {
    padding: 12px;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.connect-form button:hover {
    background-color: var(--accent-hover-color);
}

/* footer-section */
.footer-section {
    text-align: center;
    padding: 20px;
    background-color: var(--section-background-color);
    color: var(--text-color);
    font-size: 0.9em;
    margin-top: 40px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    width: 100%;
    max-width: 800px;
}

.footer-section a {
    color: var(--text-color);
    margin: 0 5px;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}